@import "../../globals";

.topRibbon {
  display: flex;
  position: fixed;
  top: 0;
  height: $topRibbonHeight;
  width: 100%;
  z-index: 2;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  // padding: 1rem;

  button {
    height: 2rem;
  }

  .title {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2rem;
  }

  h1 {
    margin: 0;
    // font-family: "sunshine";
    color: white;
  }

  @media only screen and (max-width: 550px) {
    h1 {
      font-size: larger;
    }

    .title {
      margin: 0 0.5rem;
    }
  }
}
