@import "../../globals";

.topRibbon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  // padding: 1rem;

  button {
    height: 2rem;
  }

  h1 {
    padding: 0 2rem;
  }
}
