html,
body,
#root {
  height: 100%;
}

.App {
  min-height: 100%;
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-text);
}

.pageWrapper {
  // padding: 0.5rem;
  max-width: 1200px;
  margin: auto;
}
