@import "./globals";

@font-face {
  font-family: Sunshine;
  src: url("./fonts/sunshine.ttf");
}

html,
body,
#root {
  height: 100%;
}

.App {
  min-height: 100%;
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-text);

  * {
    font-family: "Roboto", sans-serif;
  }

  &.useSunshineFont {
    * {
      font-family: "Sunshine", sans-serif;
    }
    h1,
    h2 {
      font-weight: 500;
    }
  }
}

.pageWrapper {
  padding-top: $topRibbonHeight;
  max-width: 1200px;
  margin: auto;
}
